body{
     background-color: #ffffff;
     background-size: cover;
     font-family: 'Ubuntu', sans-serif;
     background-repeat: no-repeat;
}
#head{
     background-color: #ffa500;
     margin-left: 0px;
     padding-top: 50px;
     box-shadow: 5px 10px #a8ceeb;
     display: flex;
     justify-content: space-between;
     margin: 0px;
     padding: 0px;
}
.menu{
     display: flex;
     justify-content: space-between;
}
 .main{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
}
 .main :hover{
     opacity: 0.9;
}
